.popup {
  transition: visibility 0.7s, opacity 0.7s;
  background-color: rgba(0, 0, 0, 0.5);
  justify-items: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  right: 0;
  top: 0;
}
