.card__item-description {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  height: 79px;
  width: 100%;
  padding: 0;
  margin: 0;
}
