.card__item-title {
  width: calc(100% - 21px);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  padding-left: 21px;
  line-height: 29px;
  overflow: hidden;
  color: #000000;
  max-width: 250px;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
}
